<div class="w-full shadow-1 border-round-lg p-3">
	<div class="flex justify-content-between align-items-center w-full">
		<app-task [task]="task"></app-task>
		<p-button
			*ngIf="isHomePage; else categoryPage"
			styleClass="addBtn p-button-rounded p-button-secondary p-button-text p-button-sm"
			icon="pi pi-external-link text-xl"
		></p-button>
		<ng-template #categoryPage>
			<p-button
				styleClass="addBtn p-button-rounded p-button-secondary p-button-text p-button-sm"
				icon="pi pi-plus text-xl"
			></p-button>
		</ng-template>
	</div>
	<div *ngIf="task.subTask != undefined">
		<p-divider></p-divider>
		<div class="flex flex-column gap-3 ml-5">
			<app-task
			*ngFor="let subTask of task.subTask"
			[task]="subTask"
			></app-task>
		</div>
	</div>
</div>
