<div class="flex flex-column align-items-center h-screen bg-gray-100 p-3">
  <p-button icon="pi pi-home" routerLink="/home"></p-button>
  <p-divider></p-divider>
  <div class="flex flex-column gap-3 h-full">
    <p-button
      icon="pi pi-book"
      styleClass="p-button-rounded"
      routerLink="/category/one"
    ></p-button>
    <p-button
      icon="pi pi-book"
      styleClass="p-button-rounded"
      routerLink="/category/two"
    ></p-button>
    <p-button
      icon="pi pi-book"
      styleClass="p-button-rounded"
      routerLink="/category/three"
    ></p-button>
    <p-button
      icon="pi pi-book"
      styleClass="p-button-rounded"
      routerLink="/category/four"
    ></p-button>
  </div>
  <p-button
    icon="pi pi-user"
    class="align-content-end"
    styleClass="p-button-rounded"
  ></p-button>
</div>
