<div
	class="h-screen flex flex-column justify-content-center align-items-center"
>
	<div
		class="shadow-3 px-5 py-5 flex flex-column border-round-lg justify-content-center align-items-center"
	>
		<div>
			<h1 class="font-bold text-5xl">Welcome to Tasky</h1>
		</div>
		<p class="font-medium text-xl">Enter your account details and login!</p>
		<br />
		<form
			[formGroup]="loginForm"
			(ngSubmit)="authenticateUser()"
			class="flex flex-column border-round-lg justify-content-center align-items-center"
		>
			<div class="field">
				<span class="p-input-icon-right">
					<i class="pi pi-user"></i>
					<input
						id="username"
						type="text"
						pInputText
						placeholder="Username"
						formControlName="username"
					/>
				</span>
			</div>
			<div class="field">
				<p-password
					[feedback]="false"
					[toggleMask]="true"
					placeholder="Password"
					styleClass="p-password p-component p-inputwrapper p-input-icon-right"
					formControlName="password"
				></p-password>
			</div>
			<button pButton type="submit" [disabled]="!loginForm.valid">
				Login
			</button>
		</form>
	</div>
</div>
