<div
	class="h-screen flex flex-column justify-content-center align-items-center"
>
	<div>
		<h1 class="font-bold text-5xl">Welcome to Tasky</h1>
	</div>
	<p class="font-medium text-xl">Choose an account to test with</p>
	<br />
	<div>
		<div *ngFor="let user of userList" class="field-radiobutton">
			<p-radioButton
				name="accountGroup"
				value="{{ user.id }}"
				label="{{ user.username }} | {{ user.type }} Tier"
				[(ngModel)]="selectedUser"
			></p-radioButton>
		</div>
	</div>
	<br />
	<p class="font-semibold text-red-500 text-sm">
		PLEASE NOTE THAT REFRESHING THE PAGE WILL RESET ALL CHANGES
	</p>
	<br />
	<div>
		<p-button
			[disabled]="selectedUser === null || selectedUser === undefined"
			(click)="goToHome()"
			>Go to the Home page</p-button
		>
	</div>
</div>
