<div class="grid h-screen max-w-full gap-3 p-5">
	<div class="h-full overflow-y-scroll col-8 shadow-4 border-round-lg py-3 px-4">
		<p *ngIf="category" class="text-4xl font-semibold mb-5">{{ category.name }}</p>
		<div class="flex justify-content-between align-items-center">
			<p class="text-2xl font-medium">Tasks</p>
			<p-button
				styleClass="p-button-rounded p-button-text p-button-sm"
				icon="pi pi-plus-circle text-2xl"
				(click)="showAddTaskDialog()"
			></p-button>
		</div>
		<br />
		<div
			*ngIf="taskList.length === 0"
			class="flex flex-column align-items-center justify-content-center w-full shadow-1 border-round-lg p-3"
		>
			<p class="font-medium mb-2">
				<em>FINALLY</em>, some peace and quiet
			</p>
			<p class="text-xs">enjoy it while it lasts ;-;</p>
		</div>

		<div class="flex flex-column gap-3 p-1">
			<app-task-container
				*ngFor="let task of taskList"
				[task]="task"
			></app-task-container>
		</div>
	</div>
	<div class="grid col-4 gap-4">
		<div class="col-12 shadow-4 border-round-lg pt-3 pb-4 px-4">
			<app-calendar
				[isCategory]="true"
				[categoryId]="categoryId"
			></app-calendar>
		</div>
		<div class="w-full">
			<div class="cursor-pointer" (click)="showSettingsDialog()">
				<div
					class="flex justify-content-between align-items-center col-12 shadow-4 border-round-lg py-3 px-4"
				>
					<p class="text-4xl font-semibold">Settings</p>
					<i class="pi pi-cog text-4xl"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<form [formGroup]="categorySettingsForm" (ngSubmit)="onEdit()">
	<p-dialog
		header="Edit Category"
		[(visible)]="isSettingsDialogVisible"
		[modal]="true"
		[draggable]="false"
		[resizable]="false"
		[dismissableMask]="true"
	>
		<div class="field">
			<label for="categoryName" class="font-medium text-lg"
				>Category Name</label
			>
			<input
				class="w-full"
				formControlName="categoryName"
				id="categoryName"
				type="text"
				placeholder="Enter the new name of your category"
				pInputText
			/>
		</div>
		<ng-template pTemplate="footer">
			<button
				pButton
				type="submit"
				[disabled]="!categorySettingsForm.valid"
			>
				Confirm
			</button>
			<button
				pButton
				type="button"
				class="p-button-danger"
				(click)="deleteCategory()"
			>
				Delete
			</button>
		</ng-template>
	</p-dialog>
</form>

<form [formGroup]="addTaskForm" (ngSubmit)="addTask()">
	<p-dialog
		header="Add Task"
		[(visible)]="isAddTaskDialogVisible"
		[modal]="true"
		[draggable]="false"
		[resizable]="false"
		[dismissableMask]="true"
	>
		<div class="field">
			<label for="taskName" class="font-medium text-lg">Task Name</label>
			<input
				id="taskName"
				formControlName="taskName"
				class="w-full"
				type="text"
				placeholder="Enter the name of your task"
				pInputText
			/>
		</div>
		<div class="field">
			<label for="taskDueDate" class="font-medium text-lg w-full"
				>Due Date</label
			>
			<small id="username-help"
				>Select the date & time when the assignment is due.
			</small>
			<p-calendar
				id="taskDueDate"
				formControlName="taskDueDate"
				styleClass="w-full"
				[dateFormat]="'yyyy-mm-ddThh:mm:ss'"
				[inline]="true"
				[showTime]="true"
			></p-calendar>
		</div>
		<div class="field">
			<label for="taskPriority" class="font-medium text-lg w-full"
				>Priority</label
			>
			<p-dropdown
				[options]="priorityOptions"
				formControlName="taskPriority"
				placeholder="How important is this task?"
			></p-dropdown>
		</div>
		<ng-template pTemplate="footer">
			<button pButton type="submit" [disabled]="!addTaskForm.valid">
				Add it
			</button>
		</ng-template>
	</p-dialog>
</form>
