<div class="grid h-screen min-h-full max-w-full gap-3 p-5">
	<div
		class="h-full overflow-y-scroll col-8 shadow-4 border-round-lg py-3 px-4"
	>
		<p class="text-4xl font-semibold mb-5">
			Good Morning, {{ user.username }}
		</p>
		<p class="text-2xl font-medium">Upcoming Tasks</p>
		<br />
		<div *ngIf="taskList">
			<div
				*ngIf="taskList.length === 0"
				class="flex flex-column align-items-center justify-content-center w-full shadow-1 border-round-lg p-3"
			>
				<p class="font-medium mb-2">
					<em>FINALLY</em>, some peace and quiet
				</p>
				<p class="text-xs">enjoy it while it lasts ;-;</p>
			</div>
			<div class="flex flex-column gap-3 p-1">
				<app-task-container
					*ngFor="let task of taskList"
					[isHomePage]="true"
					[task]="task"
				></app-task-container>
			</div>
		</div>
	</div>
	<div class="grid col-4 gap-4">
		<div class="col-12 shadow-4 border-round-lg py-3 px-4">
			<app-calendar [isCategory]="false"></app-calendar>
		</div>
		<div class="col-12 shadow-4 border-round-lg py-3 px-4">
			<p class="text-4xl font-semibold mb-5">Bookmarks</p>
			<div *ngIf="bookmarkList">
			<div class="grid align-items-center">
					<div
						(contextmenu)="deleteConfirm(bookmark, $event)"
						*ngFor="let bookmark of bookmarkList"
						class="col-3"
					>
						<app-bookmark [bookmark]="bookmark"></app-bookmark>
					</div>
					<div *ngIf="bookmarkList.length < 8" class="max-w-min">
						<button
							pButton
							(click)="showAddBookmarkDialog()"
							class="p-button-rounded p-button-raised p-button-text p-1 pl-2 pt-1 max-w-min mb-1"
						>
							<i class="pi pi-plus p-1"></i>
						</button>
						<p class="text-center">Add</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<form [formGroup]="addBookmarkForm" (ngSubmit)="addBookmark()">
	<p-dialog
		header="Edit Category"
		[(visible)]="isAddBookmarkDialogVisible"
		[modal]="true"
		[draggable]="false"
		[resizable]="false"
		[dismissableMask]="true"
	>
		<div class="field">
			<label for="bookmarkTitle" class="font-medium text-lg"
				>Bookmark Title</label
			>
			<input
				formControlName="bookmarkTitle"
				class="w-full"
				id="bookmarkTitle"
				type="text"
				placeholder="Enter bookmark title"
				pInputText
			/>
		</div>
		<div class="field">
			<label for="bookmarkLink" class="font-medium text-lg"
				>Bookmark Link</label
			>
			<input
				formControlName="bookmarkLink"
				class="w-full"
				id="bookmarkLink"
				type="text"
				placeholder="Paste the url of the bookmark"
				pInputText
			/>
		</div>
		<ng-template pTemplate="footer">
			<button pButton type="submit" [disabled]="!addBookmarkForm.valid">
				Add
			</button>
		</ng-template>
	</p-dialog>
</form>
