<p-dialog header="Add Category" [(visible)]="isAddDialogVisible" [modal]="true">
	<div>
		<input type="text" pInputText />
	</div>
	<ng-template pTemplate="footer"></ng-template>
</p-dialog>

<div class="flex flex-column align-items-center h-screen bg-gray-100 p-3">
	<p-button icon="pi pi-home" routerLink="/home"></p-button>
	<p-divider></p-divider>
	<div class="flex flex-column gap-3 h-full">
		<p-button
			*ngFor="let category of categoryList"
			icon="pi pi-book"
			styleClass="p-button-rounded"
			routerLink="/category/{{ category.id }}"
		></p-button>
		<p-button
			icon="pi pi-plus"
			styleClass="p-button-rounded"
			(onClick)="showAddDialog()"
		></p-button>
	</div>
	<p-button
		icon="pi pi-user"
		class="align-content-end"
		styleClass="p-button-rounded"
	></p-button>
</div>
