<div class="flex flex-column align-items-center h-screen bg-gray-100 p-3">
	<p-button icon="pi pi-home" routerLink="/home"></p-button>
	<p-divider></p-divider>
	<div class="flex flex-column gap-3 h-full">
		<p-button
			*ngFor="let category of categoryList"
			icon="{{
				category.type === CategoryType.INDIV
					? 'pi pi-book'
					: 'pi pi-users'
			}}"
			styleClass="p-button-rounded"
			routerLink="/{{
				category.type === CategoryType.INDIV ? 'category' : 'group'
			}}/{{ category.id }}"
		></p-button>
		<p-button
			icon="pi pi-plus"
			styleClass="p-button-rounded"
			[disabled]="isDisabled"
			(onClick)="showAddDialog()"
		></p-button>
	</div>
	<p-button
		icon="pi pi-sign-out"
		class="align-content-end"
		styleClass="p-button-rounded"
		routerLink="/login"
	></p-button>
</div>

<form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
	<p-dialog
		header="Add Category"
		[(visible)]="isAddDialogVisible"
		[modal]="true"
		[draggable]="false"
		[resizable]="false"
		[dismissableMask]="true"
	>
		<div class="field mb-5">
			<label for="categoryName" class="font-medium text-lg"
				>Category Name</label
			>
			<input
				class="w-full"
				formControlName="categoryName"
				id="categoryName"
				type="text"
				placeholder="Enter the name of your category"
				pInputText
			/>
		</div>
		<div class="flex justify-content-between align-items-center gap-2">
			<p class="font-medium text-lg pb-2">Group mode</p>
			<p-inputSwitch
				formControlName="categoryType"
				inputId="categoryType"
				[disabled]="user.type === UserType.FREE"
			></p-inputSwitch>
		</div>
		<ng-template pTemplate="footer">
			<button pButton type="submit" [disabled]="!addCategoryForm.valid">
				Ok
			</button>
		</ng-template>
	</p-dialog>
</form>
