<form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
	<p-dialog
		header="Add Category"
		[(visible)]="isAddDialogVisible"
		[modal]="true"
		[draggable]="false"
		[resizable]="false"
		[dismissableMask]="true"
	>
		<div class="field">
			<label for="categoryName" class="font-medium text-lg"
				>Category Name</label
			>
			<input
				class="w-full"
				formControlName="categoryName"
				id="categoryName"
				type="text"
				placeholder="Enter the name of your category"
				pInputText
			/>
		</div>
		<ng-template pTemplate="footer">
			<button pButton type="submit" [disabled]="!addCategoryForm.valid">
				ok
			</button>
		</ng-template>
	</p-dialog>
</form>

<div class="flex flex-column align-items-center h-screen bg-gray-100 p-3">
	<p-button icon="pi pi-home" routerLink="/home"></p-button>
	<p-divider></p-divider>
	<div class="flex flex-column gap-3 h-full">
		<p-button
			*ngFor="let category of categoryList"
			icon="pi pi-book"
			styleClass="p-button-rounded"
			routerLink="/category/{{ category.id }}"
		></p-button>
		<p-button
			icon="pi pi-plus"
			styleClass="p-button-rounded"
			(click)="showAddDialog()"
		></p-button>
	</div>
	<p-button
		icon="pi pi-user"
		class="align-content-end"
		styleClass="p-button-rounded"
	></p-button>
</div>
